body {
    font-family: Arial, sans-serif;
    background-color:aquamarine;
    color: #080808;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 1rem;
    text-align: center;
    color: white;
}

nav {
    margin: 1rem;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

nav a:hover {
    color: #2e7d32;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

h1 {
    color: #6a879b;
}
