{% extends "layout.html" %}

{% block title %}
Chai Detail Page
{% endblock %}

{% block content %}
<header>
    <h1>Chai aur Django - {{ chai.name }}</h1>
</header>
<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'all_chai' %}">Chai</a>
</nav>
<div class="container">
    <h2 class="text-xl font-semibold">Description for {{ chai.name }}</h2>
    <p class="text-gray-600">{{ chai.description }}</p>
</div>



{% endblock %}
