<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/submit" method="post">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required><br><br>

        <label>Password</label>
        <input type="text" name="password" placeholder="Enter password" required><br><br>

        <input type="submit" value="login">
    </form>
</body>
</html>